@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200;0,6..12,300;0,6..12,400;0,6..12,500;0,6..12,600;0,6..12,700;0,6..12,800;0,6..12,900;0,6..12,1000;1,6..12,200;1,6..12,300;1,6..12,400;1,6..12,500;1,6..12,600;1,6..12,700;1,6..12,800;1,6..12,900;1,6..12,1000&family=Permanent+Marker&family=Roboto:wght@300;400;500;700&family=Rye&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
    font-family: 'Permanent Marker', cursive;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a;
}

